/* 
=============================
VARIABLE START
=================
*/
:root {
    --color-primary: #f2d479;
    --color-secondary: #bf8924;
}

/* 
=============================
VARIABLE END
=================
*/

/* -------------------------------------------------------- */

/* 
=============================
GLOBAL STYLE START
=================
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-primary);
}

h1 {
    color: white;
}

h2 {
    font-size: 5rem;
    margin-bottom: 5rem;
    background: linear-gradient(
            to right,
            var(--color-primary),
            var(--color-secondary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link {
    position: relative;
    background: linear-gradient(
            to right,
            var(--color-primary),
            var(--color-secondary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
}

.btn {
    width: 10rem;
    padding: 1rem;
    font-size: 2rem;
    border: none;
    outline: none;
    transition: background 0.4s ease;
    cursor: pointer;
}
/* 
=============================
GLOBAL STYLE END
=================
*/

/* 
=============================
HEADER STYLE START
=================
*/

/* ------------------------ HEADER START --------------------- */

header {
    height: 100%;
    width: 100%;
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
    ),
    url('https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: right;

    display: flex;
    justify-content: center;
}

.background {
    display: none;
}

.nav-container {
    width: 100%;
    height: 7rem;
    background: rgba(133, 133, 133, 0.8);
    position: fixed;
    box-shadow: 2px 0 1rem rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    z-index: 20;
}

.logo {
    width: 7rem;
    margin-left: 2rem;
}

nav {
    position: fixed;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.links {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.links-item {
    margin-right: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0%;
    background: linear-gradient(
            to right,
            var(--color-primary),
            var(--color-secondary)
    );
    transition: all 0.4s ease;
}

a:hover::before {
    width: 100%;
}

.hamburger-menu__container {
    width: 4rem;
    height: 4rem;
    background: radial-gradient(var(--color-primary), var(--color-secondary));
    border-radius: 50%;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 2rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    display: none;
}

.hamburger-menu {
    width: 45%;
    height: 0.2rem;
    background: black;
    position: relative;
    transition: all 0.4s ease;
}

.hamburger-menu::after,
.hamburger-menu::before {
    content: '';
    width: 150%;
    height: 0.2rem;
    position: absolute;
    left: 0;
    background: black;
    transition: all 0.4s ease;
}

.hamburger-menu::after {
    top: -0.5rem;
}

.hamburger-menu::before {
    bottom: -0.5rem;
}

.hamburger-menu__container:hover .hamburger-menu {
    width: 70%;
}

.hamburger-menu__container:hover .hamburger-menu::after,
.hamburger-menu__container:hover .hamburger-menu::before {
    width: 50%;
}

/* ------------------------ HEADER END ----------------------- */

/* --------------- HEADER MEDIA START --------------- */
@media only screen and (max-width: 850px) {
    header {
        background: linear-gradient(
                to right,
                rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.3)
        ),
        url('https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');
        background-position: top;
        background-size: cover;
    }

    .hamburger-menu__container {
        display: flex;
        z-index: 20;
    }

    .background {
        display: block;
        position: fixed;
        right: 2.2rem;
        top: 2rem;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background: rgba(191, 137, 36, 0.5);
        background: radial-gradient(
                circle,
                rgba(191, 137, 36, 0.5) 0%,
                rgba(54, 55, 61, 0.5) 36%,
                rgba(38, 39, 43, 0.5) 61%,
                rgba(25, 32, 38, 0.5) 85%
        );
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(1px);
        z-index: 10;
        transition: transform 0.4s ease;
    }

    .active + .background {
        transform: scale(70);
    }

    .links {
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.8s ease;
        overflow: hidden;

        z-index: 20;
    }

    .links-item {
        display: none;
        opacity: 0;
        transition: display 0.4s ease 0.5s, opacity 0.4s ease 3s;
    }

    .active .links-item {
        display: block;
        opacity: 1;
        background-image: linear-gradient(
                120deg,
                transparent 0%,
                transparent 50%,
                rgba(0, 0, 0, 0.5) 50%
        );
        padding: 1rem;
        background-size: 250%;
        transition: background-position 0.4s ease;
    }

    .active .links-item:hover {
        background-position: 100%;
    }

    .active a::before {
        display: none;
    }

    .active > *:not(:last-child) {
        margin-bottom: 2rem;
    }

    .active ~ .hamburger-menu__container {
        padding-right: 0.8rem;
    }

    .active ~ .hamburger-menu__container > .hamburger-menu {
        transform-origin: top;
        transform: rotateZ(45deg);
        width: 90%;
    }

    .active ~ .hamburger-menu__container > .hamburger-menu::after {
        transform-origin: bottom;
        transform: rotate(100deg) translateX(0.25rem);
        width: 110%;
    }

    .active ~ .hamburger-menu__container > .hamburger-menu::before {
        display: none;
    }

    .active {
        display: flex;
        width: 100%;
        height: 100%;
    }
}

.content-container {
    position: absolute;
    top: 50%;
    left: 10%;
    height: 15rem;
    z-index: 1;
}

.title {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.7);
}

.title span {
    color: var(--color-primary);
}

.btn-primary {
    background: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(2.5rem);
    backdrop-filter: blur(2.5rem);
    color: var(--color-secondary);
    transition: all 0.4s ease;
}

.btn-primary:hover {
    background: var(--color-secondary);
}

.btn-primary:hover a {
    color: #192026;
}
/* --------------- HEADER MEDIA END --------------- */
/* 
=============================
HEADER STYLE END
=================
*/

/* 
=============================
MAIN STYLE START
=================
*/
/* --------------- MENUS START --------------- */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 2rem auto;
}

.btn-secondary:hover {
    background: #192026;
    color: #eee;
}

.category-container {
    width: 50rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-around;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.card {
    height: 50rem;
    overflow: hidden;
    background-image: url('https://twoplaidaprons.com/wp-content/uploads/2020/09/tteokbokki-top-down-view-of-tteokbokki-in-a-bowl-500x500.jpg');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    position: relative;
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100px);
    width: 100%;
    height: 10rem;
    padding: 1rem;
    background: rgba(25, 32, 38, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: bottom 0.4s ease;
}

.card:hover .content {
    bottom: 20%;
}

.content-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.card-title {
    color: var(--color-primary);
}

.card-price {
    color: var(--color-secondary);
}

.content-footer {
    display: flex;
    justify-content: center;
}

.card-description {
    font-size: 1.6rem;
    color: #fff;
}

/* --------------- MENUS END --------------- */

/* --------------- ABOUT START --------------- */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgba(25, 32, 38, 1);
    padding: 2rem;
}

.about-card {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.about-card:nth-of-type(even) > .card-image {
    order: 2;
    margin-right: 0;
    margin-left: 5rem;
}

.card-image {
    width: 40vw;
    height: 30vw;
    object-fit: cover;
    margin-right: 5rem;
    border-radius: 5rem;
}

.about-description {
    font-size: 1.6rem;
    color: #eee;
    text-align: justify;
}

@media only screen and (max-width: 850px) {
    .about-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-card:nth-of-type(even) > .card-image {
        order: 1;
        margin-right: 0;
        margin-left: 0rem;
    }

    .about-description {
        order: 1;
    }

    .card-image {
        width: 100%;
        height: 50vw;
        margin-right: 0rem;
        margin-bottom: 2rem;
    }
}
/* --------------- ABOUT END --------------- */

/* --------------- CONTACT START --------------- */
.contact-container {
    height: 100vh;
    background: #be93c5; /* fallback for old browsers */
    background: -webkit-linear-gradient(
            to right,
            #7bc6cc,
            #be93c5
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
            to right,
            #7bc6cc,
            #be93c5
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    width: 80%;
    height: 80%;
    background-image: linear-gradient(
            105deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.9) 50%,
            transparent 50%
    ),
    url('https://images.unsplash.com/photo-1519882189396-71f93cb4714b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-size: 100%;
    border-radius: 2rem;

    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.book__form {
    width: 50%;
    padding: 6rem;
}

.contact-header {
    background: linear-gradient(to right, #f4dee3, #eea297);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form__group:not(:last-child) {
    margin-bottom: 2rem;
}

.form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;
}

.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #eea297;
}

.form__input:focus:invalid {
    border-bottom: 3px solid #f4dee3;
}

.form__input::-webkit-input-placeholder {
    color: #eee;
}
.form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4.2rem);
}
.form__radio-group {
    width: 49%;
    display: inline-block;
}

@media only screen and (max-width: 56.25em) {
    .book {
        background-image: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.9) 0%,
                rgba(255, 255, 255, 0.9) 100%
        ),
        url('https://images.unsplash.com/photo-1519882189396-71f93cb4714b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    }

    .book__form {
        width: 100%;
    }

    .form__input {
        width: 100%;
    }

    .form__radio-group {
        width: 100%;
        margin-bottom: 2rem;
    }

    .u-margin-bottom-medium {
        margin-bottom: 3rem !important;
    }
}

@media only screen and (max-width: 75em) {
    .book__form {
        width: 65%;
    }

    .book {
        background-image: linear-gradient(
                105deg,
                rgba(255, 255, 255, 0.9) 0%,
                rgba(255, 255, 255, 0.9) 65%,
                transparent 65%
        ),
        url('https://images.unsplash.com/photo-1519882189396-71f93cb4714b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
        background-size: cover;
    }
}

.form__radio-input {
    display: none;
}
.form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
}
.form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #eea297;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.5rem;
}
.form__radio-button::after {
    content: '';
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eea297;
    opacity: 0;
    transition: opacity 0.2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.contact-btn {
    width: 20rem;
    border-radius: 5rem;
    background: #f4dee3;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
/* --------------- CONTACT END --------------- */

/* 
=============================
MAIN STYLE END
=================
*/

/* 
=============================
FOOTER STYLE START
=================
*/
.footer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #192026;
}

.footer-paragraph {
    font-size: 1.7rem;
    color: #eee;
}

.author {
    font-size: 3rem;
    position: relative;
    width: 10rem;
    animation: colorful linear forwards infinite 5s;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@keyframes colorful {
    0% {
        background-image: linear-gradient(to right, #f4dee3, #eea297);
    }
    10% {
        background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    }
    20% {
        background-image: linear-gradient(135deg, #f05f57 10%, #360940 100%);
    }
    30% {
        background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    }
    40% {
        background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%);
    }
    50% {
        background-image: linear-gradient(135deg, #a0fe65 10%, #fa016d 100%);
    }
    60% {
        background-image: linear-gradient(135deg, #fff720 10%, #3cd500 100%);
    }
    70% {
        background-image: linear-gradient(135deg, #fff720 10%, #3cd500 100%);
    }
    80% {
        background-image: linear-gradient(135deg, #eece13 10%, #b210ff 100%);
    }
    90% {
        background-image: linear-gradient(135deg, #fff6b7 10%, #f6416c 100%);
    }
    100% {
        background-image: linear-gradient(135deg, #a0fe65 10%, #fa016d 100%);
    }
}

/* 
=============================
FOOTER STYLE END
=================
*/